[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
